<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>906707736981-oi15k5pf99cglr2lc38pop3runjcrvca.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.906707736981-oi15k5pf99cglr2lc38pop3runjcrvca</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>906707736981-toncvughear11ioi2ccrb6tc02gttd5v.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAHWNt-dUjg4TGD-072NaCJy4L1ooIV_rM</string>
	<key>GCM_SENDER_ID</key>
	<string>906707736981</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app.BaseApplication</string>
	<key>PROJECT_ID</key>
	<string>codetemplate-35d74</string>
	<key>STORAGE_BUCKET</key>
	<string>codetemplate-35d74.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:906707736981:ios:7685ca7f3feb371f2c3e9c</string>
</dict>
</plist>